# .env on the same folder that contains docker-compose.yml file
COMPOSE_PROJECT_NAME=modular-monolith-ddd

# Application Configuration
ASPNETCORE_ENVIRONMENT=Development/Production
BUILD_CONFIGURATION=Debug/Release
# HOST_PORT: Port local
# DOCKER_CONTAINER_PORT: Port Docker container
API_HOST=localhost
API_HOST_PORT=5001
API_DOCKER_CONTAINER_PORT=8080

ADMIN_HOST=localhost
ADMIN_HOST_PORT=3000
ADMIN_DOCKER_CONTAINER_PORT=80

PORTAL_HOST=localhost
PORTAL_HOST_PORT=3001
PORTAL_DOCKER_CONTAINER_PORT=80

# Database Configuration
SQLSERVER_HOST=database
SQLSERVER_HOST_PORT=1433
SQLSERVER_SERVICE_NAME=database
SQLSERVER_DOCKER_CONTAINER_PORT=1433
SQLSERVER_DATABASE_NAME=ModularMonolithDDDShop
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SA_PASSWORD=

# Use node 20 (being deprecated) in Github Action Runner (Node 24 by default)
ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION=true

# Frontend Admin Configuration
## VITE_API_URL=https://localhost:5001/
## VITE_AUTHORITY=http://localhost:8082/realms/mmdddshop-backend
## VITE_CLIENT_ID=admin-spa
## VITE_REDIRECT_URI=http://localhost:3000/callback
## VITE_SCOPE=openid profile offline_access mmdddshop-backend-api
## DASHBOARD_SITE_NAME=Admin Dashboard
## DASHBOARD_API=https://localhost:5001/v1/dashboard