# .env on the same folder that contains docker-compose.yml file
COMPOSE_PROJECT_NAME=modular-monolith-ddd

# Application Configuration
ASPNETCORE_ENVIRONMENT=Development/Production
BUILD_CONFIGURATION=Debug/Release
# _HOST_PORT: Port local
# _PORT: Port container
API_HOST_PORT=5001
API_PORT=8080
ADMIN_HOST_PORT=3000
ADMIN_PORT=80
PORTAL_HOST_PORT=3001
PORTAL_PORT=80

# Database Configuration
SQLSERVER_HOST=localhost
SQLSERVER_HOST_PORT=1433
SQLSERVER_PORT=1433
SQLSERVER_DATABASE_NAME=ModularMonolithDDD
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SA_PASSWORD=